html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: Arial;
    font-size: 40px;
    width: 1000px;
}

.calculator-box, .screen {
    border: 2px solid rgb(0, 0, 0);
}

.calculator-box{
    width: 450px;
    height: 650px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen, .control-buttons button, .char-buttons button {
    border-radius: 5px;
}

.control-buttons button, .char-buttons button {
    margin: 0%;
}

.screen, .control-buttons, .char-buttons{
    width: 90%;
}

.screen {
    height: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.control-buttons {
    display: flex;
    justify-content: space-between;

    height: 10%;
    margin-bottom: 3%;
}

.control-buttons button {
    margin-top: 0;
    width: 48.5%;
    height: 100%;
}

.char-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 3%;

    height: 57%;
}

.char-buttons button {
    width: 23%;
    height: 23%;
}
